<section class="jumbotron text-center section-twoo">
  <div class="container">
    <div class="user">
      <p class="login">Login</p>

      <%= form_tag session_create_path, class: "form" do %>
        <div class="form-group">
          <label class="phone-user" for="exampleInputEmail1"></label>
          <input type="text" name="ddd" class="text-center input-form" id="" aria-describedby="" placeholder="ddd">
        </div>
        <div class="form-group">
          <label class="phone-user" for="exampleInputEmail1"></label>
          <input type="text" name="phone_number" class="text-center input-form" id="" aria-describedby="" placeholder="celular">
        </div>
        <div class="form-group">
          <label class="pass-user" for="exampleInputPassword1"> </label>
          <input type="password" name="password" class="text-center input-form" id="exampleInputPassword1" placeholder="senha">
        </div>
      </div>
        <%= submit_tag "Entrar", class: "btn-more" %>
      <% end %>

      <p><%= link_to 'Não sou cadastrado', user_new_path, class: 'link' %></p>
    </div>
  </div>
</section>