<section class="jumbotron text-center section-twoo">
  <div class="container">
    <p class="login">Cadastro</p>
    <div class="form-group">
      <label class="phone-user" for="exampleInputEmail1"></label>
      <input type="text" class="text-center input-form" id="" aria-describedby="" placeholder="celular">
    </div>
    <div class="form-group">
      <label  class="name" for="exampleInputPassword1"> </label>
      <input type="password" class="text-center input-form" id="exampleInputPassword1" placeholder="nome">
    </div>
    <div class="form-group">
      <label  class="pass" for="exampleInputPassword1"> </label>
      <input type="password" class="text-center input-form" id="exampleInputPassword1" placeholder="confirmar senha">
    </div>
    <div class="form-group">
      <label  class="check-pass" for="exampleInputPassword1"> </label>
      <input type="password" class="text-center input-form" id="exampleInputPassword1" placeholder="código">
    </div>
    <div class="form-group">
      <label  class="code" for="exampleInputPassword1"> </label>
      <input type="password" class="text-center input-form" id="exampleInputPassword1" placeholder="senha">
    </div>
    <a href="" class="btn more-two">Inscreva-se</a>
  </div>
</section>