<section class="jumbotron text-center section-twoo">
  <div class="container">
    <p class="login">Cadastro</p>
      <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
      <%= form_for @user, url: user_create_path, html: {class: 'form'} do |f| %>
        <div class="form-group">
          <label class="phone-user" for="exampleInputEmail1"></label>
          <input type="text" name="user[ddd]" class="text-center input-form" id="" aria-describedby="" placeholder="ddd">
        </div>
        <div class="form-group">
          <label class="phone-user" for="exampleInputEmail1"></label>
          <input type="text" name="user[phone_number]" class="text-center input-form" id="" aria-describedby="" placeholder="celular">
        </div>
        <div class="form-group">
          <label  class="name" for="exampleInputPassword1"> </label>
          <input type="text" name="user[name]" class="text-center input-form" id="exampleInputPassword1" placeholder="nome">
        </div>
        <div class="form-group">
          <label  class="code" for="exampleInputPassword1"> </label>
          <input type="password" name="user[password]" class="text-center input-form" id="exampleInputPassword1" placeholder="senha">
        </div>
        <div class="form-group">
          <label  class="check-pass" for="exampleInputPassword1"> </label>
          <input type="text" name="user[used_invitation_code]" class="text-center input-form" id="exampleInputPassword1" placeholder="código">
        </div>
        <%= f.submit class: "btn more_twoo" %>
      <% end %>
  </div>
</section>